h1 {
    text-align: center;
    margin-top: 5rem;
}

.cart-empty {
    text-align: center;
    margin-top: 5rem;
}

.cart-item {
    display: flex;
    gap: 2rem;
    background: var(--accent);
    padding: .5rem;
    margin-bottom: 2rem;
}
.cart-item-img img{
    max-width: 100%; 
}
.cart-item-img {
    width: 20rem;
}

.cart-item-name,
.cart-item-total {
    font-weight: bold;
}
.cart-opciones {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
}
.cart-total {
    width: fit-content;
    margin: 2rem 0 2rem auto;
    border-radius: 1rem;
    border: 2px solid var(--primary-color);
    padding: 1rem;
}
.cart-total p {
    font-weight: 700;
    font-size: 2.2rem!important;
    margin: 0;
}