.footer {
    margin-top: 5rem;
    text-align: center;
    padding: 2rem;
    background-color: var(--black);
}
.footer .copyright {
    color: var(--white);
    margin: 0;
}

.footer .copyright a {
    color: var(--secondary-color);
    text-decoration: none;
}
.footer .copyright a:hover {
    text-decoration: underline;
}