/* Global styles and variables */
:root {
    /* COLORES */
    --primary-color: #9db5b2;
    --secondary-color: #94d1be;
    --accent: #daf0ee;
    --white: #ffffff;
    --black: #3b413c;
    /* Radio de los bordes */
    --borderRadius: .5rem;
}

.btn {
    display: block!important;
    width: 100%;
    text-decoration: none!important;
}
.btn-primary {
    background-color: var(--white)!important;
    border: 1px solid var(--primary-color)!important;
    color: var(--black)!important;
}
.btn-primary:hover {
    background-color: var(--primary-color)!important;
    color: var(--white)!important;
}
.btn-terciary {
    background-color: transparent;
    border: 2px solid var(--primary-color)!important;
}
.btn-terciary:hover {
    box-shadow: inset 0 0 0 2px var(--primary-color);
}
.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.container {
    width: 95%!important;
    max-width: 120rem!important;
    margin: 0 auto!important;
}

.container-fluid {
    width: 95%!important;
}

@media only screen and (min-width: 768px) {
    .btn {
        display: inline-block!important;
        width: fit-content;
    }
}   