@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --title-font: 'Pacifico', cursive;
  --body-font: 'Roboto', sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

*,*:before,*:after {
  box-sizing: border-box;
  font-family: var(--body-font);
}

body, .btn, input, select, options, textarea, a, p {
  font-size: 1.8rem!important;
}
